---
import { loadAllArticles } from "../data/blog-posts/DevApiService";

const { limit = -1, organization, current = "blog" } = Astro.props;

let allPosts: any = await loadAllArticles(organization);
allPosts = allPosts.sort((a: any, b: any) => {
  const favourRecent = (post: any) => {
    const date = new Date(post.published_at);
    const diff = Date.now() - date.getTime();
    const diffDays = Math.ceil(diff / (1000 * 3600 * 24));
    let scaling = 1;
    if(diffDays < 90){
      scaling = 100;
    }else if(diffDays < 180){
      scaling = 20;
    }else if(diffDays < 365){
      scaling = 10;
    }
    if(post.positive_reactions_count < 10){
      return 0;
    } 
    return post.positive_reactions_count * scaling;
  };
  return favourRecent(b) - favourRecent(a); 
});
if (limit > 0) {
  allPosts = allPosts.slice(0, limit);
}
---

<div class="container">
  <slot />
  {
    allPosts.map((post, index) => {
      const href = `/${current}/${post.slug}`;
      return (
        <div>
          {index !== 0 && <hr />}
          <div class="post-item">
            <h2>
              <a href={href}>
                {post.cover_image && <img src={post.cover_image} />}
                {post.title}
              </a>
            </h2>
            <p class="description" set:html={post.description}></p>
            <div class="post-item-footer">
              <span class="post-item-date">— {post.readable_publish_date}</span>
              <span class="post-item-date">
                {" "}
                <span>&#9825;</span> {post.positive_reactions_count}
              </span>
            </div>
          </div>
          {index === limit - 1 && <hr />}
        </div>
      );
    })
  }
</div>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }

  hr {
    margin: 60px auto;
  }

  img {
    margin-bottom: 0.1em;
  }

  .description{
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0.75em 0;
  }
</style>
