---
import BlogList from "../../components/BlogList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";


const title = "Stephen Cooper: AG Grid";
const description = "Latest AG Grid blogs from Stephen Cooper, Senior Software Engineer at AG Grid in London.";
const permalink = `${Astro.site.href}blog-ag-grid`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog-ag-grid"
>
  <BlogList header={title} organization="AG Grid" current="blog-ag-grid">
    <>
    <p>
      Here is a collection of blog posts I have written on behalf of <a
        href="https://www.ag-grid.com"
        target="_blank">AG Grid</a
      >.
    </p>
    <hr/>
    </>
  </BlogList>
</BaseLayout>
